.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 14px;
    text-align: left;
}

.table th {
    background-color: #ff1493;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
}


.table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 5px;
}

.btn-view {
    background-color: #17a2b8;
}

.btn-edit {
    background-color: #ffc107;
}

.btn-delete {
    background-color: #dc3545;
}

.create-form {
    margin-left: 400px;
    padding: 20px;
}

.form-field {
    margin-bottom: 16px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-primary {
    padding: 10px 20px;
    color: white;
    background-color: #ff1493;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #e01186;
}